<ion-header>
  <ion-navbar>
    <ion-title>
      Pedidos finalizados
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
          <div *ngFor="let order of finishedOrders | async">
            <div *ngIf="order.state === 'finished' || order.state === 'reject'">
              <ion-col col-6>
                  <div class="order-container">
                      <ion-row>
                        <p>Date..</p>
                      </ion-row>
                      <ion-row>
                        <div class="user-info">
                          <p>{{order.UID}}
                            <img src="{{order.photoURL}}" alt="" class="circle-pic">
                          </p>
                        </div>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <p>MAPA</p>
                        </ion-col>
                        <ion-col>
                          <p>{{order.anotherAddress.location}}</p>
                          <p>{{order.anotherAddress.otherSigns}}</p>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngFor="let product of order.products">
                        <ion-row>
        
                          <ion-col col-1>
                            <p>{{product.quantity}}</p>
                          </ion-col>
                          <ion-col col-6>
                            <p>{{product.name}}</p>
                          </ion-col>
                          <ion-col col-1>
                            <p>{{product.size}}</p>
                          </ion-col>
                          <ion-col col-4>
                            <div *ngIf="product.observation !== '' || product.extras">
                              <p (click)="showMore()">Ver mas
                                <i class="arrow down"></i>
                              </p>
                            </div>
                          </ion-col>
                          <ion-col col-12 *ngIf="more && (product.observation !== '' || product.extras)">
                            <ion-row *ngIf="product.extras">
                              <ion-row *ngFor="let extra of product.extras">
                                <ion-col>
                                  <p>{{extra}}</p>
                                </ion-col>
                              </ion-row>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <p>{{product.observation}}</p>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <p>Total: ₡</p>
                        </ion-col>
                      </ion-row>
                    </div>
              </ion-col>
              <ion-col col-2></ion-col>
            </div>
          </div>
    
    
        </ion-row>
      </ion-grid>
</ion-content>
