page-home {
    .bar-button {
        color: white;
    }

    .navLink:hover {
        color: white;
        border-bottom: 2px solid white;
    }

    .user-info.section {
        width: 100%;
        height: 100%;
    }

    .navLink:active {
        color: white;
        border-bottom: 2px solid white;
    }

    .bar-button:hover {
        color: white;
        border-bottom: 2px solid white;
    }

    .bar-button:active {
        color: white;
        border-bottom: 2px solid white;
    }

    .details-container{
        display: none;
        height: 0px;
    }

     .scroll-content {
        padding: 0 !important;
    }

    .order:hover{
        box-shadow: 1px 15px 28px grey;
    }
    .order-container{
        border: 2px solid rgb(0, 0, 0);
        background-color: rgba(14,14,14,0.6);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    }

    .order{
        margin: 1%;
    }

    .section.orders:hover .details-container{
        display : block;
        height: 100%;
        color: white;
        width: 7vw;
    }

    .section.orders:hover .arrow{
       display: none;
    }

   .col.mapContainer {
        
        width: 1vw;
        height: 14vh;
       

    }
    map #map-content:hover {
        background: none;
        height: 200%;
        width: 210%;
    }
    
    
    .section.address {
        height: 18vh;
    }

    #more {
        color: #990000;
    }

    .circle-pic{
        width:50px;
        height:50px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid white;
        position: absolute;
    }

    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 2px;
    }
    
    
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .section{
        border-bottom: 2px solid gray;
    }


}
