<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <img margin-top="30px" margin-left="10px" item-centered src="../../assets/imgs/logo.png" alt="" height="70" width="70">
    </ion-buttons>
    <ion-buttons center>
      <button ion-button clear class="navLink" (click)="changeList(newState)">Nuevas</button>
      <button ion-button clear class="navLink" (click)="changeList(pendingState)">Pendientes</button>
      <button ion-button clear class="navLink" (click)="changeList(finishedState)">Entregadas</button>
      <button ion-button clear class="navLink" (click)="changeList(rejectedState)">Rechazadas</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <div *ngFor="let order of newOrders | async; " class="order">
        <div *ngIf="order.state == state && order.user != undefined" class="order-container">

          <div>
            <ion-row>
              <div class="user-info section">
                <ion-row>
                  <ion-col col-9>
                    {{order.user.name}}
                  </ion-col>
                  <ion-col col-3>
                    <img src="{{order.photoURL}}" alt="" class="circle-pic">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    {{order.user.telephone}}
                  </ion-col>
                </ion-row>
              </div>
            </ion-row>
            <div class="section address">
              <ion-row>
                Dirección:
              </ion-row>
              <ion-row>
                <ion-col class="mapContainer">
                  <map [lat]='order.address.position.lat' [lng]='order.address.position.lng'></map>
                </ion-col>
                <ion-col>
                  <p>{{order.address.location}}</p>
                  <p>{{order.address.otherSigns}}</p>
                </ion-col>
              </ion-row>
            </div>

            <div class="section orders">
              <ion-row *ngFor="let product of order.products">
                

                  <ion-col col-1>
                    <p>{{product.quantity}}</p>
                  </ion-col>
                  <ion-col col-6>
                    <p>{{product.name}}</p>
                  </ion-col>
                  <ion-col col-1 offset-3>
                    <p>{{product.size}}</p>
                  </ion-col>
                  <ion-col class="details-container" col-12 *ngIf="product.observation !== '' || product.extras">
                    <ion-row *ngIf="product.extras">
                      Extras:
                      <ion-row *ngFor="let extra of product.extras">
                        <ion-col>
                          <p>{{extra}}</p>
                        </ion-col>
                      </ion-row>
                    </ion-row>
                    <ion-row *ngIf="product.observation">
                      Observaciones:
                      <ion-col>
                        <p>{{product.observation}}</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
              
              </ion-row>
              <ion-row class="arrow">
                  <ion-col col-2 offset-5><label class="fa fa-caret-down" style="font-size:36px"></label></ion-col>
              </ion-row>

            </div>

            <ion-row>
              <p>Total: ₡{{order.total}}</p>
            </ion-row>
            <ion-row>
              <ng-container *ngIf="state == newState;">
                <ion-col col-4>
                  <button ion-button (click)="changeState(order.id, pendingState)">Aceptar</button>
                </ion-col>
                <ion-col col-4>
                  <button ion-button color="danger" (click)="changeState(order.id, rejectedState)">Rechazar</button>
                </ion-col>
              </ng-container>
              <ng-container *ngIf="state == pendingState">
                <ion-col col-8>
                  <button ion-button (click)="changeState(order.id, finishedState)">Terminar</button>
                </ion-col>
              </ng-container>
              <ng-container *ngIf="state == rejectedState || state == finishedState">
                <ion-col col-8></ion-col>
              </ng-container>
              <ion-col col-4>

              </ion-col>
            </ion-row>
          </div>

        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>