<!-- Generated template for the ReceptionCardComponent component -->
<div>

  <div class="grid-full">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
          </ion-card-header>
          
            <p>Orden numero</p>
          
          <ion-card-content>
            Datos de la orden
          </ion-card-content>
          <button (click)="aceptOrder()" ion-button color="danger" outline>Aceptar Orden</button>
          <button (click)="rejectOrder()" ion-button color="danger" outline>Rechazar Orden</button>
        </ion-card>
      </ion-col>

    </ion-row>
  </div>